﻿@model WebSite.Models.EmployeeCreateModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Добавление сотрудника";
}
@Scripts.Render("~/bundles/scripts/employee")
<div class="col-md-6 col-md-offset-3">
    @using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <h4>Заполните данные о сотруднике</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Employee.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Имя" } })
                @Html.ValidationMessageFor(model => model.Employee.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Employee.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Фамилия" } })
                @Html.ValidationMessageFor(model => model.Employee.Surname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Employee.Middlename, new { htmlAttributes = new { @class = "form-control", @placeholder = "Отчество" } })
                @Html.ValidationMessageFor(model => model.Employee.Middlename, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Employee.DOB, new { htmlAttributes = new { @type="text", @class = "form-control datepicker", @placeholder = "Дата рождения", @data_date_format="yyyy-mm-dd", @data_date_end_date = "0d" } })
                @Html.ValidationMessageFor(model => model.Employee.DOB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Employee.Position, new { htmlAttributes = new { @class = "form-control", @placeholder = "Должность" } })
                @Html.ValidationMessageFor(model => model.Employee.Position, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.Employee.OrganizationId, Model.Organizations, "Выберите организацию", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    }
</div>
